@import "../../../styles/styles.scss";

.service-card {
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  border-radius: 35px;
  width: fit-content;
  width: 530px;
  height: 350px;

  .service-container {
    position: relative;
    img {
      width: 100%;
      height: 100%;
      border-radius: 35px;
    }
  }

  .service-info {
    position: absolute;
    transform: translateY(-50%);
    background-color: white;
    border: 2px solid $dark-green-border;
    text-align: left;
    border-radius: 32px;
    padding: 30px;
    h2 {
      font-size: 1.2rem;
      margin-block-start: 0;
      color: $cambridge-green;
      margin-bottom: 10px;
      color: $cambridge-green;
    }
    p {
      color: $neutral-font-color;
      width: 450px;
      line-height: 1.5rem;
      font-size: 0.95rem;
      margin-block-end: 0;
      font-weight: 500;
    }
  }
}

@include respond-to(md) {
  .service-card {
    width: auto;
    height: auto;
    .service-container {
      img {
        width: 100%;
        height: auto;
        border-radius: 15px;
      }
    }
    .service-info {
      position: static;
      transform: translateY(0);
      display: block;
      border: 0;
      padding: 20px;
      p {
        margin-block-start: 0;
        width: auto;
        margin-bottom: 20px;
      }
    }
  }
}
