@import "../../styles/styles.scss";

.footer {
  padding: 30px;
  background-color: $soft-green-background;
  font-family: "Manrope", sans-serif;
  color: $neutral-font-color;
  font-size: 1rem;
  font-weight: 440;
  text-align: left;
  .cut-line {
    background-color: $cambridge-green;
    display: block;
    width: 95%;
    margin: 0 auto;
    margin-top: 40px;
    height: 2px;
  }
  .footer-content {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    .footer-logo {
      width: 282px;
      margin-left: 30px;
      height: auto;
    }
    .footer-sections {
      display: flex;
      justify-content: space-around;
      width: 100%;
      .footer-section {
        h4 {
          font-weight: 550;
          margin-bottom: 20px;
          color: $cambridge-green;
        }
        ul {
          list-style: none;
          padding: 0;

          li {
            margin-bottom: 15px;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .footer-socials {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    span{
      color: $light-font-color;
      font-size: 1rem;
    
    }
    img {
      margin-right: 10px;
      width: 24px; // Ajusta según el tamaño de los íconos
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
